@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap") layer(base);

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css/bundle";


.menu-active {
  @apply bg-blue-100 text-blue-600 font-medium;
}

@theme {
  --text-title-2xl: 72px;
  --text-title-2xl--line-height: 90px;
  --text-title-xl: 60px;
  --text-title-xl--line-height: 72px;
  --text-title-lg: 48px;
  --text-title-lg--line-height: 60px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;
}
